


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
Product Download Hero – RHD Front-end Code and Documentation
</title>
    <link rel="stylesheet" href="https://redhat-developer.github.io/rhd-frontend/css/patternfly.css">
    <link rel="stylesheet" href="https://redhat-developer.github.io/rhd-frontend/css/rhd.css">
    <link rel="stylesheet" href="https://redhat-developer.github.io/rhd-frontend/css/prism-ghcolors.css">
    <script src="https://redhat-developer.github.io/rhd-frontend/js/base.js"></script>
    <script src="https://kit.fontawesome.com/3f83b4c6d2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.5/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/custom-elements-es5-adapter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/webcomponents-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://redhat-developer.github.io/rhd-frontend/@rhd/rhd.old.min.js"></script>
    <script src="https://redhat-developer.github.io/rhd-frontend/@rhd/rhd.microsites.min.js"></script>
    <script src="https://redhat-developer.github.io/rhd-frontend/@rhd/rhd.min.js"></script>

  </head>
  <body class="pf-m-redhat-font">
    <header role="banner" class="pf-l-grid pf-m-all-12-col">
  <div class="rh-universal-header">
    <nav class="rh-nav-universal" aria-label="Red Hat Global Navigation">
      
        <img class="rh-header-logo" alt="Red Hat Logo" src="https://developers.redhat.com/themes/custom/rhdp/images/branding/RHLogo_white.svg">
        
              
            </ul>
          </nav>
        </div>
        <div class="pf-m-10-col pf-m-offset-1-col">
          <div class="rhd-masthead-inner">
            <div class="rhd-header">
              <a href="https://redhat-developer.github.io/rhd-frontend/" title="Home" rel="home" class="rhd-header-logo">
                <img src="https://developers.redhat.com/themes/custom/rhdp/logo.svg" alt="Home">
              </a>
              <nav role="navigation" aria-labelledby="rhd-navigation-menu" class="rhd-navigation-menu" data-block-plugin-id="system_menu_block:rhd-navigation">
                <h2 class="visually-hidden" id="rhd-navigation-menu">RHD Primary Navigation</h2>
                <ul class="rhd-menu">
                  
                  
                </ul>
              </nav>
            </div>
            
          </div>
        </div>
      </header>

    <main role="main">
      <div class="layout-content">
        <div id="block-rhdp-content" class="block block-system">
          <article role="article" class="node">
            <div class="node__content">
              <div class="container">
    
<header class="pf-l-grid"><h1 class="pf-m-10-col pf-m-offset-1-col">Product Download Hero</h1></header>
<aside class="pf-l-grid">
    
        <a class="previous pf-m-5-col pf-m-offset-1-col" href="https://redhat-developer.github.io/rhd-frontend/components/template/"> Example Component</a>
    
    
        <a class="next pf-m-5-col pf-u-text-align--right" href="https://redhat-developer.github.io/rhd-frontend/components/btn-cta/"> Buttons and CTAs</a>
    

</aside>
<section><p><strong>TEMPLATE COMPONENT</strong></p>

<p>Sample Variations</p>
</section>

    
    

<div class="pf-l-grid pf-m-gutter">

    <div class="pf-l-grid__item pf-m-offset-1-col">
        <h2>All Contexts</h2>
    </div>
    
    
        
            
                
            
        
            <h4 class="pf-c-title pf-m-lg">product_download_hero</h4>
            
            
                <div class="component product-download-hero" style="background-image: url(https://developers.redhat.com/images/design/product-hero-light.png);">
    <div class="pf-l-grid pf-m-gutter pf-u-pt-lg pf-u-pb-lg">
        <div class="pf-l-grid__item pf-m-4-col-on-lg pf-m-5-col-on-md pf-m-6-col-on-sm pf-u-display-flex pf-u-justify-content-center pf-u-flex-direction-column">
            <picture class="product-download-hero-aside">
                <source media="(min-width: 480px)" srcset="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png">
                <source media="(min-width: 768px)" srcset="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png">
                <source media="(min-width: 1024px)" srcset="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png">
                <img src="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png" alt="" class=""/>
            </picture>
        </div>
        <div class="pf-l-grid__item pf-m-8-col-on-lg pf-m-7-col-on-md pf-m-6-col-on-sm pf-u-display-flex pf-u-justify-content-center pf-u-flex-direction-column pf-u-pt-lg-on-sm pf-u-pb-lg-on-sm pf-u-pt-2xl-on-md pf-u-pb-2xl-on-md">
            <div class="product-download-hero-header pf-c-content">
                <h1 class="pf-c-title pf-m-2xl">Red Hat CodeReady Workspaces</h1>
            </div>
            <div class="product-download-hero-body pf-c-content">
                <p>A collaborative Kubernetes-native development solution that delivers OpenShift workspaces and in-browser IDE for rapid cloud application development.</p>
            </div>
            <div class="product-download-hero-footer pf-u-display-inline-flex pf-c-content">
                <div class="product-download-hero-footer--cta pf-u-text-align-center">
                    <a class="pf-c-button pf-m-heavy" href="#">Download</a>
                    <p class="product-download-hero-footer--version">Version 1.0.0</p>
                </div>
                <div class="product-download-hero-footer--learn-more">
                    <button class="pf-c-button pf-m-link pf-u-pl-lg">
                        Learn more
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

            
                <div class="component product-download-hero image-first" style="background-image: url(https://developers.redhat.com/images/design/product-hero-light.png);">
    <div class="pf-l-grid pf-m-gutter pf-u-pt-lg pf-u-pb-lg">
        <div class="pf-l-grid__item pf-m-4-col-on-lg pf-m-5-col-on-md pf-m-6-col-on-sm pf-u-display-flex pf-u-justify-content-center pf-u-flex-direction-column">
            <picture class="product-download-hero-aside">
                <source media="(min-width: 480px)" srcset="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png">
                <source media="(min-width: 768px)" srcset="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png">
                <source media="(min-width: 1024px)" srcset="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png">
                <img src="https://developers.redhat.com/sites/default/files/styles/large/public/kubernetes-native-ide.png" alt="" class=""/>
            </picture>
        </div>
        <div class="pf-l-grid__item pf-m-8-col-on-lg pf-m-7-col-on-md pf-m-6-col-on-sm pf-u-display-flex pf-u-justify-content-center pf-u-flex-direction-column pf-u-pt-lg-on-sm pf-u-pb-lg-on-sm pf-u-pt-2xl-on-md pf-u-pb-2xl-on-md">
            <div class="product-download-hero-header pf-c-content">
                <h1 class="pf-c-title pf-m-2xl">Red Hat CodeReady Workspaces</h1>
            </div>
            <div class="product-download-hero-body pf-c-content">
                <p>A collaborative Kubernetes-native development solution that delivers OpenShift workspaces and in-browser IDE for rapid cloud application development.</p>
            </div>
            <div class="product-download-hero-footer pf-u-display-inline-flex pf-c-content">
                <div class="product-download-hero-footer--cta pf-u-text-align-center">
                    <a class="pf-c-button pf-m-heavy" href="#">Download</a>
                    <p class="product-download-hero-footer--version">Version 1.0.0</p>
                </div>
                <div class="product-download-hero-footer--learn-more">
                    <button class="pf-c-button pf-m-link pf-u-pl-lg">
                        Learn more
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

            
                <div class="component product-download-hero" style="background-image: url(https://developers.redhat.com/images/design/product-hero-light.png);">
    <div class="pf-l-grid pf-m-gutter pf-u-pt-lg pf-u-pb-lg">
        <div class="pf-l-grid__item pf-m-12-col-on-lg pf-u-display-flex pf-u-justify-content-center pf-u-flex-direction-column pf-u-pt-lg-on-sm pf-u-pb-lg-on-sm pf-u-pt-2xl-on-md pf-u-pb-2xl-on-md">
            <div class="product-download-hero-header pf-c-content">
                <h1 class="pf-c-title pf-m-2xl">Red Hat CodeReady Workspaces</h1>
            </div>
            <div class="product-download-hero-body pf-c-content">
                <p>A collaborative Kubernetes-native development solution that delivers OpenShift workspaces and in-browser IDE for rapid cloud application development.</p>
            </div>
            <div class="product-download-hero-footer pf-u-display-inline-flex pf-c-content">
                <div class="product-download-hero-footer--cta pf-u-text-align-center">
                    <a class="pf-c-button pf-m-heavy" href="#">Download</a>
                    <p class="product-download-hero-footer--version">Version 1.0.0</p>
                </div>
                <div class="product-download-hero-footer--learn-more">
                    <button class="pf-c-button pf-m-link pf-u-pl-lg">
                        Learn more
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

            
            
        
            
                
            
        
    
    

</div>

    


              </div>
            </div>
          </article>
        </div>
      </div>
    </main>
    
    
    
    <footer role="contentinfo">
    <div class="region region-rhd-footer">
        
        <div id="block-universalfooter" class="rh-universal-footer">
            <img alt="Red Hat Logo" src="https://developers.redhat.com/themes/custom/rhdp/images/branding/RHLogo_white.svg">
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script>

    
    
    
    <script>
        var require = {
            baseUrl: "https:\/\/redhat-developer.github.io\/rhd-frontend\/",
            deps: []
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    

  </body>
</html>
