


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
Icons – RHD Front-end Code and Documentation
</title>
    <link rel="stylesheet" href="https://redhat-developer.github.io/rhd-frontend/css/patternfly.css">
    <link rel="stylesheet" href="https://redhat-developer.github.io/rhd-frontend/css/rhd.css">
    <link rel="stylesheet" href="https://redhat-developer.github.io/rhd-frontend/css/prism-ghcolors.css">
    <script src="https://redhat-developer.github.io/rhd-frontend/js/base.js"></script>
    <script src="https://kit.fontawesome.com/3f83b4c6d2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.5/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/custom-elements-es5-adapter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/webcomponents-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://redhat-developer.github.io/rhd-frontend/@rhd/rhd.old.min.js"></script>
    <script src="https://redhat-developer.github.io/rhd-frontend/@rhd/rhd.microsites.min.js"></script>
    <script src="https://redhat-developer.github.io/rhd-frontend/@rhd/rhd.min.js"></script>

  </head>
  <body class="pf-m-redhat-font">
    <header role="banner" class="pf-l-grid pf-m-all-12-col">
  <div class="rh-universal-header">
    <nav class="rh-nav-universal" aria-label="Red Hat Global Navigation">
      
        <img class="rh-header-logo" alt="Red Hat Logo" src="https://developers.redhat.com/themes/custom/rhdp/images/branding/RHLogo_white.svg">
        
              
            </ul>
          </nav>
        </div>
        <div class="pf-m-10-col pf-m-offset-1-col">
          <div class="rhd-masthead-inner">
            <div class="rhd-header">
              <a href="https://redhat-developer.github.io/rhd-frontend/" title="Home" rel="home" class="rhd-header-logo">
                <img src="https://developers.redhat.com/themes/custom/rhdp/logo.svg" alt="Home">
              </a>
              <nav role="navigation" aria-labelledby="rhd-navigation-menu" class="rhd-navigation-menu" data-block-plugin-id="system_menu_block:rhd-navigation">
                <h2 class="visually-hidden" id="rhd-navigation-menu">RHD Primary Navigation</h2>
                <ul class="rhd-menu">
                  
                  
                </ul>
              </nav>
            </div>
            
          </div>
        </div>
      </header>

    <main role="main">
      <div class="layout-content">
        <div id="block-rhdp-content" class="block block-system">
          <article role="article" class="node">
            <div class="node__content">
              
<header class="pf-l-grid"><h1 class="pf-m-10-col pf-m-offset-1-col">Icons</h1></header>
<aside class="pf-l-grid">
    
        <a class="previous pf-m-5-col pf-m-offset-1-col" href="https://redhat-developer.github.io/rhd-frontend/components/footer/"> Footer References</a>
    
    
        <a class="next pf-m-5-col pf-u-text-align--right" href="https://redhat-developer.github.io/rhd-frontend/components/curated-links/"> Curated links</a>
    

</aside>
<section></section>

    
    

<div class="pf-l-grid pf-m-gutter">

    <div class="pf-l-grid__item pf-m-offset-1-col">
        <h2>DEFAULT CONTEXT</h2>
    </div>
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title pf-m-lg">Icons on light background</h4>
            
            
                  <table class="pf-c-table pf-m-compact pf-m-grid-md" role="grid" aria-label="Icons on light backgrounds" id="icons-light">
    <caption>Icons color: #72767b</caption>
    <thead>
      <tr>
        <th>Icon</th>
        <th>Icon name</th>
        <th>Icon type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="icon"><i class="fas fa-newspaper"></i></td>
        <td data-label="Icon name">Newspaper</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="far fa-clone"></i></td>
        <td data-label="Icon name">Clone</td>
        <td data-label="Icon type">Regular</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-paper-plane"></i></td>
        <td data-label="Icon name">Paper plane</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-terminal"></i></td>
        <td data-label="Icon name">Terminal</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="far fa-file-code"></i></td>
        <td data-label="Icon name">File code</td>
        <td data-label="Icon type">Regular</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-book"></i></td>
        <td data-label="Icon name">Book</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-file-alt"></i></td>
        <td data-label="Icon name">File (alt)</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fab fa-github"></i></td>
        <td data-label="Icon name">GitHub</td>
        <td data-label="Icon type">Brand</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="far fa-play-circle"></i></td>
        <td data-label="Icon name">Play (circle)</td>
        <td data-label="Icon type">Regular</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-video"></i></td>
        <td data-label="Icon name">Video</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-graduation-cap"></i></td>
        <td data-label="Icon name">Graduation cap</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-comment"></i></td></td>
        <td data-label="Icon name">Comment</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fa fa-arrow-right"></i></td></td>
        <td data-label="Icon name">Arrow (right)</td>
        <td data-label="Icon type">Regular</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-code"></i></td></td>
        <td data-label="Icon name">Code</td>
        <td data-label="Icon type">Solid</td>
      </tr>
    </tbody>
  </table>

            
            
        
        </div>
        
    
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title pf-m-lg">Icons on dark background</h4>
            
            
                  <table class="pf-c-table pf-m-compact pf-m-grid-md rhd-m-dark" role="grid" aria-label="Icons on light backgrounds" id="icons-light">
    <caption>Icon color: #fff</caption>
    <thead>
      <tr>
        <th>Icon</th>
        <th>Icon name</th>
        <th>Icon type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="icon"><i class="fas fa-newspaper"></i></td>
        <td data-label="Icon name">Newspaper</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="far fa-clone"></i></td>
        <td data-label="Icon name">Clone</td>
        <td data-label="Icon type">Regular</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-paper-plane"></i></td>
        <td data-label="Icon name">Paper plane</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-terminal"></i></td>
        <td data-label="Icon name">Terminal</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="far fa-file-code"></i></td>
        <td data-label="Icon name">File code</td>
        <td data-label="Icon type">Regular</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-book"></i></td>
        <td data-label="Icon name">Book</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-file-alt"></i></td>
        <td data-label="Icon name">File (alt)</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fab fa-github"></i></td>
        <td data-label="Icon name">GitHub</td>
        <td data-label="Icon type">Brand</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="far fa-play-circle"></i></td>
        <td data-label="Icon name">Play (circle)</td>
        <td data-label="Icon type">Regular</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-video"></i></td>
        <td data-label="Icon name">Video</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-graduation-cap"></i></td>
        <td data-label="Icon name">Graduation cap</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-comment"></i></td></td>
        <td data-label="Icon name">Comment</td>
        <td data-label="Icon type">Solid</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fa fa-arrow-right"></i></td></td>
        <td data-label="Icon name">Arrow (right)</td>
        <td data-label="Icon type">Regular</td>
      </tr>
      <tr>
        <td data-label="icon"><i class="fas fa-code"></i></td></td>
        <td data-label="Icon name">Code</td>
        <td data-label="Icon type">Solid</td>
      </tr>
    </tbody>
  </table>

            
            
        
        </div>
        
    
    

</div>

    


            </div>
          </article>
        </div>
      </div>
    </main>
    
    
    
    <footer role="contentinfo">
    <div class="region region-rhd-footer">
        
        <div id="block-universalfooter" class="rh-universal-footer">
            <img alt="Red Hat Logo" src="https://developers.redhat.com/themes/custom/rhdp/images/branding/RHLogo_white.svg">
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script>

    
    
    

  </body>
</html>
