




<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
Video Hero – RHD Front-end Code and Documentation
</title>
    <link rel="stylesheet" href="https://redhat-developer.github.io/rhd-frontend/css/rhd.css">
    <link rel="stylesheet" href="https://redhat-developer.github.io/rhd-frontend/css/rhd.legacy.css">
    <link rel="stylesheet" href="https://redhat-developer.github.io/rhd-frontend/css/prism-ghcolors.css">
    <script src="https://redhat-developer.github.io/rhd-frontend/js/base.js"></script>
    <script src="https://kit.fontawesome.com/3f83b4c6d2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.5/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/custom-elements-es5-adapter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/webcomponents-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://redhat-developer.github.io/rhd-frontend/@rhd/rhd.old.min.js"></script>
    <script src="https://redhat-developer.github.io/rhd-frontend/@rhd/rhd.microsites.min.js"></script>
    <script src="https://redhat-developer.github.io/rhd-frontend/@rhd/rhd.min.js"></script>

  </head>
  <body class="pf-m-redhat-font">
    <div class="pf-c-page" id="page-layout-grouped-nav">
      <header role="banner" class="pf-c-page__header" style="z-index: 100;">
  <div class="pf-c-page__header-brand">
    <a class="pf-c-page__header-brand-link">
      <img class="pf-c-brand" src="https://developers.redhat.com/sites/default/files/styles/teaser/public/externals/e684ea8849af25532d2f2c5ad1c6dab4.png" alt="PatternFly logo">
    </a>
  </div>
  <div class="pf-c-page__header-nav">
    <nav class="pf-c-nav pf-m-end" id="page-layout-horizontal-nav-horizontal-nav" aria-label="Global">
      <ul class="pf-c-nav__horizontal-list">
        
      </ul>
    </nav>
  </div>
  <div class="pf-c-page__header-tools">
    <div class="pf-c-page__header-tools-group pf-m-icons">
      <a href="https://github.com/redhat-developer/rhd-frontend" target="_blank" class="pf-c-button pf-m-plain" aria-label="Alerts">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</header>

      <main role="main" class="pf-c-page__main" tabindex="-1" id="main-content-page-layout">
        <section class="pf-c-page__main-section pf-m-light">
          <div class="layout-content">
            <div id="block-rhdp-content" class="block block-system">
              <article role="article" class="node">
                <div class="node__content">
                  

<section class="pf-c-page__main-breadcrumb">
  <nav class="pf-c-nav" aria-label="Local">
    <ul class="pf-c-nav__tertiary-list">
      
      <li class="pf-c-nav__item">
        <a href="https://redhat-developer.github.io/rhd-frontend/components/dynamic-list/" class="pf-c-nav__link">
          <i class="fad fa-arrow-left"></i>
          Deprecated Dynamic Content List
        </a>
      </li>
      
      <li class="pf-c-nav__item">
        <a href="https://redhat-developer.github.io/rhd-frontend/components/video-hero/" class="pf-c-nav__link pf-m-current" aria-current="page">
          Video Hero
        </a>
      </li>
      
      <li class="pf-c-nav__item">
        <a href="https://redhat-developer.github.io/rhd-frontend/components/navigation/" class="pf-c-nav__link">
          Navigation References
          <i class="fad fa-arrow-right"></i>
        </a>
      </li>
      
    </ul>
  </nav>
</section>
<section class="pf-c-page__main-section"><p><h1>Single Video Reference</h1>
<div class="pf-l-grid rhd-c-video rhd-m-video-background">
  <div class="rhd-c-video--wrapper">
    <div class="rhd-c-video--video-embed">
      <iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/YQLOcjvbo9s?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1" id="YQLOcjvbo9s0" data-sdiyt="true" width="854" height="480" frameborder="0"></iframe>
    </div>
  </div>
  <div class="rhd-c-video--content">
    <div class="rhd-c-video--content-wrapper">
      <h3>Advanced Microservices Tracing with Jaeger</h3>
      <p>One of the greatest challenges of moving from traditional monolithic application design to a microservices architecture is being able to monitor your business transaction flow—the flow of events via micro service calls throughout your entire system. Business transaction flow—the flow of events via micro service calls throughout your entire system.</p>
      <div class="rhd-c-video--presenters">
        <!-- Start of Author tile -->
        <div class="rhd-c-author--tile">
          <span class="rhd-c-author--tile-hero">
            <img src="https://developers.redhat.com/sites/default/files/styles/square_small/public/080817_BURRSUTTER_6INX6IN_300DPI-min.jpg?itok=7ViRCOCR" alt="Burr Sutter" typeof="foaf:Image" width="200" height="200">
          </span>
          <div class="rhd-c-author--tile-info">
            <div class="rhd-c-author--tile-name">
              <a href="#">Burr Sutter</a>
            </div>
            <div class="rhd-c-author--tile-title">Chief Developer Evangelist</div>
          </div>
        </div>
        <!-- End of Author tile -->
        <!-- Start of Author tile -->
        <div class="rhd-c-author--tile">
          <span class="rhd-c-author--tile-hero">
            <img src="https://developers.redhat.com/sites/default/files/styles/square_small/public/080817_BURRSUTTER_6INX6IN_300DPI-min.jpg?itok=7ViRCOCR" alt="Burr Sutter" typeof="foaf:Image" width="200" height="200">
          </span>
          <div class="rhd-c-author--tile-info">
            <div class="rhd-c-author--tile-name">
              <a href="#">Burr Sutter</a>
            </div>
            <div class="rhd-c-author--tile-title">Chief Developer Evangelist</div>
          </div>
        </div>
        <!-- End of Author tile -->
        <!-- Start of Author tile -->
        <div class="rhd-c-author--tile">
          <span class="rhd-c-author--tile-hero">
            <img src="https://developers.redhat.com/sites/default/files/styles/square_small/public/080817_BURRSUTTER_6INX6IN_300DPI-min.jpg?itok=7ViRCOCR" alt="Burr Sutter" typeof="foaf:Image" width="200" height="200">
          </span>
          <div class="rhd-c-author--tile-info">
            <div class="rhd-c-author--tile-name">
              <a href="#">Burr Sutter</a>
            </div>
            <div class="rhd-c-author--tile-title">Chief Developer Evangelist</div>
          </div>
        </div>
        <!-- End of Author tile -->
      </div>
    </div>
  </div>
 </div></p>

<p><h1>Double Video Reference</h1>
<div class="pf-l-grid rhd-c-video rhd-m-video-background">
  <div class="rhd-c-video--wrapper">
    <div class="rhd-c-video--video-embed">
      <iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/YQLOcjvbo9s?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1" id="YQLOcjvbo9s0" data-sdiyt="true" width="854" height="480" frameborder="0"></iframe>
    </div>
  </div>
  <div class="rhd-c-video--content">
    <div class="rhd-c-video--content-wrapper">
      <h3>Advanced Microservices Tracing with Jaeger</h3>
      <p>One of the greatest challenges of moving from traditional monolithic application design to a microservices architecture is being able to monitor your business transaction flow—the flow of events via micro service calls throughout your entire system. Business transaction flow—the flow of events via micro service calls throughout your entire system.</p>
      <div class="rhd-c-video--presenters">
        <!-- Start of Author tile -->
        <div class="rhd-c-author--tile">
          <span class="rhd-c-author--tile-hero">
            <img src="https://developers.redhat.com/sites/default/files/styles/square_small/public/080817_BURRSUTTER_6INX6IN_300DPI-min.jpg?itok=7ViRCOCR" alt="Burr Sutter" typeof="foaf:Image" width="200" height="200">
          </span>
          <div class="rhd-c-author--tile-info">
            <div class="rhd-c-author--tile-name">
              <a href="#">Burr Sutter</a>
            </div>
            <div class="rhd-c-author--tile-title">Chief Developer Evangelist</div>
          </div>
        </div>
        <!-- End of Author tile -->
      </div>
    </div>
  </div>
</div>
<div class="pf-l-grid rhd-c-video rhd-m-video-background">
  <div class="rhd-c-video--content">
    <div class="rhd-c-video--content-wrapper">
      <h3>Advanced Microservices Tracing with Jaeger</h3>
      <p>One of the greatest challenges of moving from traditional monolithic application design to a microservices architecture is being able to monitor your business transaction flow—the flow of events via micro service calls throughout your entire system. Business transaction flow—the flow of events via micro service calls throughout your entire system.</p>
      <div class="rhd-c-video--presenters">
        <!-- Start of Author tile -->
        <div class="rhd-c-author--tile">
          <span class="rhd-c-author--tile-hero">
            <img src="https://developers.redhat.com/sites/default/files/styles/square_small/public/080817_BURRSUTTER_6INX6IN_300DPI-min.jpg?itok=7ViRCOCR" alt="Burr Sutter" typeof="foaf:Image" width="200" height="200">
          </span>
          <div class="rhd-c-author--tile-info">
            <div class="rhd-c-author--tile-name">
              <a href="#">Burr Sutter</a>
            </div>
            <div class="rhd-c-author--tile-title">Chief Developer Evangelist</div>
          </div>
        </div>
        <!-- End of Author tile -->
      </div>
    </div>
  </div>
  <div class="rhd-c-video--wrapper">
    <div class="rhd-c-video--video-embed">
      <iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/YQLOcjvbo9s?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1" id="YQLOcjvbo9s0" data-sdiyt="true" width="854" height="480" frameborder="0"></iframe>
    </div>
  </div>
 </div></p>
</section>




                </div>
              </article>
            </div>
          </div>
        </section>
        <footer role="footer">
  <div class="pf-l-grid">
    <div class="pf-l-grid__item pf-m-3-col pf-m-2-col-on-sm pf-m-1-col-on-md">
      <img alt="Red Hat Logo" src="https://developers.redhat.com/themes/custom/rhdp/images/branding/RHLogo_white.svg" class="pf-u-p-sm">
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script>

      </main>
      



    </div>
  </body>
</html>
