




<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
Collection Component – RHD Front-end Code and Documentation
</title>
    <link rel="stylesheet" href="https://rhd-frontend-demo.netlify.com/css/rhd.css">
    <link rel="stylesheet" href="https://rhd-frontend-demo.netlify.com/css/rhd.legacy.css">
    <link rel="stylesheet" href="https://rhd-frontend-demo.netlify.com/css/prism-ghcolors.css">
    <script src="https://rhd-frontend-demo.netlify.com/js/base.js"></script>
    <script src="https://kit.fontawesome.com/3f83b4c6d2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.5/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/custom-elements-es5-adapter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/webcomponents-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://rhd-frontend-demo.netlify.com/@rhd/rhd.old.min.js"></script>
    <script src="https://rhd-frontend-demo.netlify.com/@rhd/rhd.microsites.min.js"></script>
    <script src="https://rhd-frontend-demo.netlify.com/@rhd/rhd.min.js"></script>

  </head>
  <body class="pf-m-redhat-font">
    <div class="pf-c-page" id="page-layout-grouped-nav">
      <header role="banner" class="pf-c-page__header" style="z-index: 100;">
  <div class="pf-c-page__header-brand">
    <a class="pf-c-page__header-brand-link" href="https://rhd-frontend-demo.netlify.com/">
      <img class="pf-c-brand" src="https://developers.redhat.com/sites/default/files/styles/teaser/public/externals/e684ea8849af25532d2f2c5ad1c6dab4.png" alt="PatternFly logo">
    </a>
  </div>
  <div class="pf-c-page__header-nav">
    <nav class="pf-c-nav pf-m-end" id="page-layout-horizontal-nav-horizontal-nav" aria-label="Global">
      <ul class="pf-c-nav__horizontal-list">
        
        <li class="pf-c-nav__item">
          <a href="https://rhd-frontend-demo.netlify.com/categories/" class="pf-c-nav__link">
            Categories
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="https://rhd-frontend-demo.netlify.com/components/" class="pf-c-nav__link">
            Components
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="https://rhd-frontend-demo.netlify.com/pages/" class="pf-c-nav__link">
            Pages
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="https://rhd-frontend-demo.netlify.com/patterns/" class="pf-c-nav__link">
            Patterns
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="https://rhd-frontend-demo.netlify.com/tags/" class="pf-c-nav__link">
            Tags
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="pf-c-page__header-tools">
    <div class="pf-c-page__header-tools-group pf-m-icons">
      <a href="https://github.com/redhat-developer/rhd-frontend" target="_blank" class="pf-c-button pf-m-plain" aria-label="Alerts">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</header>

      <main role="main" class="pf-c-page__main" tabindex="-1" id="main-content-page-layout">
        <section class="pf-c-page__main-section pf-m-light">
          <div class="layout-content">
            <div id="block-rhdp-content" class="block block-system">
              <article role="article" class="node">
                <div class="node__content">
                  

<section class="pf-c-page__main-breadcrumb">
  <nav class="pf-c-nav" aria-label="Local">
    <ul class="pf-c-nav__tertiary-list">
      
      <li class="pf-c-nav__item">
        <a href="https://rhd-frontend-demo.netlify.com/components/comment-list-card/" class="pf-c-nav__link">
          <i class="fad fa-arrow-left"></i>
          Comment List Card Component
        </a>
      </li>
      
      <li class="pf-c-nav__item">
        <a href="https://rhd-frontend-demo.netlify.com/components/collection/" class="pf-c-nav__link pf-m-current" aria-current="page">
          Collection Component
        </a>
      </li>
      
      <li class="pf-c-nav__item">
        <a href="https://rhd-frontend-demo.netlify.com/components/card/" class="pf-c-nav__link">
          Card in Grid
          <i class="fad fa-arrow-right"></i>
        </a>
      </li>
      
    </ul>
  </nav>
</section>
<section class="pf-c-page__main-section"><p><strong>Collection COMPONENT</strong></p>

<p>Sample Variations</p>
</section>




<section class="pf-c-page__main-section">
<div class="pf-l-grid pf-m-gutter">

    <div class="pf-l-grid__item pf-m-offset-1-col">
        <h2>DEFAULT CONTEXT</h2>
    </div>
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title">Default Variant</h4>
            
            
                <div class="component rhd-c-card-grid pf-c-content rhd-c-collection">
  <div class="pf-l-flex">
    <h2 class="pf-c-title">Title for Collection Assembly</h2>
  </div>
  <div class="pf-l-flex rhd-c-card-grid__wrapper">
    <!-- ======== CARD COMPONENTS START HERE ========= -->
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <!-- ======== END OF CARD COMPONENTS ========= -->
  </div>
  <!-- START OF DRUPAL PAGINATION -->
  <div class="pf-l-flex pf-m-justify-content-flex-start">
    <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
      <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
      <ul class="pager__items js-pager__items">
        <li class="pager__item is-active">
          <a href="?page=0" title="Current page" tabindex="-1"><span class="visually-hidden">Current page</span>1</a>
        </li>
        <li class="pager__item">
          <a href="?page=1" title="Go to page 2" tabindex="-1"><span class="visually-hidden">Page</span>2</a>
        </li>
        <li class="pager__item">
          <a href="?page=2" title="Go to page 3" tabindex="-1"><span class="visually-hidden">Page</span>3</a>
        </li>
        <li class="pager__item">
          <a href="?page=3" title="Go to page 4" tabindex="-1"><span class="visually-hidden">Page</span>4</a>
        </li>
        <li class="pager__item">
          <a href="?page=4" title="Go to page 5" tabindex="-1"><span class="visually-hidden">Page</span>5</a>
        </li>
        <li class="pager__item">
          <a href="?page=5" title="Go to page 6" tabindex="-1"><span class="visually-hidden">Page</span>6</a>
        </li>
        <li class="pager__item pager__item--next">
          <a href="?page=1" title="Go to next page" rel="next" tabindex="-1">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next ›</span>
          </a>
        </li>
        <li class="pager__item pager__item--last">
          <a href="?page=5" title="Go to last page" tabindex="-1">
            <span class="visually-hidden">Last page</span>
            <span aria-hidden="true">Last »</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- END OF PAGINATION -->
</div>

            
            
        
        </div>
        
    
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title">Dark Visual Style Variant</h4>
            
            
                <div class="component rhd-c-card-grid pf-c-content rhd-c-collection dark">
  <div class="pf-l-flex">
    <h2 class="pf-c-title">Title for Collection Assembly</h2>
  </div>
  <div class="pf-l-flex rhd-c-card-grid__wrapper">
    <!-- ======== CARD COMPONENTS START HERE ========= -->
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <!-- ======== END OF CARD COMPONENTS ========= -->
  </div>
  <!-- START OF DRUPAL PAGINATION -->
  <div class="pf-l-flex pf-m-justify-content-flex-start">
    <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
      <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
      <ul class="pager__items js-pager__items">
        <li class="pager__item is-active">
          <a href="?page=0" title="Current page" tabindex="-1"><span class="visually-hidden">Current page</span>1</a>
        </li>
        <li class="pager__item">
          <a href="?page=1" title="Go to page 2" tabindex="-1"><span class="visually-hidden">Page</span>2</a>
        </li>
        <li class="pager__item">
          <a href="?page=2" title="Go to page 3" tabindex="-1"><span class="visually-hidden">Page</span>3</a>
        </li>
        <li class="pager__item">
          <a href="?page=3" title="Go to page 4" tabindex="-1"><span class="visually-hidden">Page</span>4</a>
        </li>
        <li class="pager__item">
          <a href="?page=4" title="Go to page 5" tabindex="-1"><span class="visually-hidden">Page</span>5</a>
        </li>
        <li class="pager__item">
          <a href="?page=5" title="Go to page 6" tabindex="-1"><span class="visually-hidden">Page</span>6</a>
        </li>
        <li class="pager__item pager__item--next">
          <a href="?page=1" title="Go to next page" rel="next" tabindex="-1">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next ›</span>
          </a>
        </li>
        <li class="pager__item pager__item--last">
          <a href="?page=5" title="Go to last page" tabindex="-1">
            <span class="visually-hidden">Last page</span>
            <span aria-hidden="true">Last »</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- END OF PAGINATION -->
</div>

            
            
        
        </div>
        
    
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title">Gray Visual Style Variant</h4>
            
            
                <div class="component rhd-c-card-grid pf-c-content rhd-c-collection gray">
  <div class="pf-l-flex">
    <h2 class="pf-c-title">Title for Collection Assembly</h2>
  </div>
  <div class="pf-l-flex rhd-c-card-grid__wrapper">
    <!-- ======== CARD COMPONENTS START HERE ========= -->
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <!-- ======== END OF CARD COMPONENTS ========= -->
  </div>
  <!-- START OF DRUPAL PAGINATION -->
  <div class="pf-l-flex pf-m-justify-content-flex-start">
    <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
      <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
      <ul class="pager__items js-pager__items">
        <li class="pager__item is-active">
          <a href="?page=0" title="Current page" tabindex="-1"><span class="visually-hidden">Current page</span>1</a>
        </li>
        <li class="pager__item">
          <a href="?page=1" title="Go to page 2" tabindex="-1"><span class="visually-hidden">Page</span>2</a>
        </li>
        <li class="pager__item">
          <a href="?page=2" title="Go to page 3" tabindex="-1"><span class="visually-hidden">Page</span>3</a>
        </li>
        <li class="pager__item">
          <a href="?page=3" title="Go to page 4" tabindex="-1"><span class="visually-hidden">Page</span>4</a>
        </li>
        <li class="pager__item">
          <a href="?page=4" title="Go to page 5" tabindex="-1"><span class="visually-hidden">Page</span>5</a>
        </li>
        <li class="pager__item">
          <a href="?page=5" title="Go to page 6" tabindex="-1"><span class="visually-hidden">Page</span>6</a>
        </li>
        <li class="pager__item pager__item--next">
          <a href="?page=1" title="Go to next page" rel="next" tabindex="-1">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next ›</span>
          </a>
        </li>
        <li class="pager__item pager__item--last">
          <a href="?page=5" title="Go to last page" tabindex="-1">
            <span class="visually-hidden">Last page</span>
            <span aria-hidden="true">Last »</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- END OF PAGINATION -->
</div>

            
            
        
        </div>
        
    
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title">Pager as Dots Visual Style Variant</h4>
            
            
                <div class="component rhd-c-card-grid pf-c-content rhd-c-collection pager-dots">
  <div class="pf-l-flex">
    <h2 class="pf-c-title">Title for Collection Assembly</h2>
  </div>
  <div class="pf-l-flex rhd-c-card-grid__wrapper">
    <!-- ======== CARD COMPONENTS START HERE ========= -->
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <!-- ======== END OF CARD COMPONENTS ========= -->
  </div>
  <!-- START OF DRUPAL PAGINATION -->
  <div class="pf-l-flex pf-m-justify-content-flex-start">
    <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
      <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
      <ul class="pager__items js-pager__items">
        <li class="pager__item is-active">
          <a href="?page=0" title="Current page" tabindex="-1"><span class="visually-hidden">Current page</span>1</a>
        </li>
        <li class="pager__item">
          <a href="?page=1" title="Go to page 2" tabindex="-1"><span class="visually-hidden">Page</span>2</a>
        </li>
        <li class="pager__item">
          <a href="?page=2" title="Go to page 3" tabindex="-1"><span class="visually-hidden">Page</span>3</a>
        </li>
        <li class="pager__item">
          <a href="?page=3" title="Go to page 4" tabindex="-1"><span class="visually-hidden">Page</span>4</a>
        </li>
        <li class="pager__item">
          <a href="?page=4" title="Go to page 5" tabindex="-1"><span class="visually-hidden">Page</span>5</a>
        </li>
        <li class="pager__item">
          <a href="?page=5" title="Go to page 6" tabindex="-1"><span class="visually-hidden">Page</span>6</a>
        </li>
        <li class="pager__item pager__item--next">
          <a href="?page=1" title="Go to next page" rel="next" tabindex="-1">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next ›</span>
          </a>
        </li>
        <li class="pager__item pager__item--last">
          <a href="?page=5" title="Go to last page" tabindex="-1">
            <span class="visually-hidden">Last page</span>
            <span aria-hidden="true">Last »</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- END OF PAGINATION -->
</div>

            
            
        
        </div>
        
    
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title">No Padding Top Visual Style Variant</h4>
            
            
                <div class="component rhd-c-card-grid pf-c-content rhd-c-collection no-padding-top">
  <div class="pf-l-flex">
    <h2 class="pf-c-title">Title for Collection Assembly</h2>
  </div>
  <div class="pf-l-flex rhd-c-card-grid__wrapper">
    <!-- ======== CARD COMPONENTS START HERE ========= -->
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <!-- ======== END OF CARD COMPONENTS ========= -->
  </div>
  <!-- START OF DRUPAL PAGINATION -->
  <div class="pf-l-flex pf-m-justify-content-flex-start">
    <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
      <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
      <ul class="pager__items js-pager__items">
        <li class="pager__item is-active">
          <a href="?page=0" title="Current page" tabindex="-1"><span class="visually-hidden">Current page</span>1</a>
        </li>
        <li class="pager__item">
          <a href="?page=1" title="Go to page 2" tabindex="-1"><span class="visually-hidden">Page</span>2</a>
        </li>
        <li class="pager__item">
          <a href="?page=2" title="Go to page 3" tabindex="-1"><span class="visually-hidden">Page</span>3</a>
        </li>
        <li class="pager__item">
          <a href="?page=3" title="Go to page 4" tabindex="-1"><span class="visually-hidden">Page</span>4</a>
        </li>
        <li class="pager__item">
          <a href="?page=4" title="Go to page 5" tabindex="-1"><span class="visually-hidden">Page</span>5</a>
        </li>
        <li class="pager__item">
          <a href="?page=5" title="Go to page 6" tabindex="-1"><span class="visually-hidden">Page</span>6</a>
        </li>
        <li class="pager__item pager__item--next">
          <a href="?page=1" title="Go to next page" rel="next" tabindex="-1">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next ›</span>
          </a>
        </li>
        <li class="pager__item pager__item--last">
          <a href="?page=5" title="Go to last page" tabindex="-1">
            <span class="visually-hidden">Last page</span>
            <span aria-hidden="true">Last »</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- END OF PAGINATION -->
</div>

            
            
        
        </div>
        
    
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title">No Padding Bottom Visual Style Variant</h4>
            
            
                <div class="component rhd-c-card-grid pf-c-content rhd-c-collection no-padding-bottom">
  <div class="pf-l-flex">
    <h2 class="pf-c-title">Title for Collection Assembly</h2>
  </div>
  <div class="pf-l-flex rhd-c-card-grid__wrapper">
    <!-- ======== CARD COMPONENTS START HERE ========= -->
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <div class="pf-c-card rhd-c-card">
      <div class="rhd-c-card__video">
        <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=altitude-clouds-cold-417173.jpg&fm=jpg">
      </div>
      <div class="rhd-c-card-content">
        <h3 class="rhd-c-card__title">
          Title of the video that can go to two lines, but will then hide until hovered
        </h3>
      </div>
    </div>
    <!-- ======== END OF CARD COMPONENTS ========= -->
  </div>
  <!-- START OF DRUPAL PAGINATION -->
  <div class="pf-l-flex pf-m-justify-content-flex-start">
    <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
      <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
      <ul class="pager__items js-pager__items">
        <li class="pager__item is-active">
          <a href="?page=0" title="Current page" tabindex="-1"><span class="visually-hidden">Current page</span>1</a>
        </li>
        <li class="pager__item">
          <a href="?page=1" title="Go to page 2" tabindex="-1"><span class="visually-hidden">Page</span>2</a>
        </li>
        <li class="pager__item">
          <a href="?page=2" title="Go to page 3" tabindex="-1"><span class="visually-hidden">Page</span>3</a>
        </li>
        <li class="pager__item">
          <a href="?page=3" title="Go to page 4" tabindex="-1"><span class="visually-hidden">Page</span>4</a>
        </li>
        <li class="pager__item">
          <a href="?page=4" title="Go to page 5" tabindex="-1"><span class="visually-hidden">Page</span>5</a>
        </li>
        <li class="pager__item">
          <a href="?page=5" title="Go to page 6" tabindex="-1"><span class="visually-hidden">Page</span>6</a>
        </li>
        <li class="pager__item pager__item--next">
          <a href="?page=1" title="Go to next page" rel="next" tabindex="-1">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next ›</span>
          </a>
        </li>
        <li class="pager__item pager__item--last">
          <a href="?page=5" title="Go to last page" tabindex="-1">
            <span class="visually-hidden">Last page</span>
            <span aria-hidden="true">Last »</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- END OF PAGINATION -->
</div>

            
            
        
        </div>
        
    
    

</div>
</section>




                </div>
              </article>
            </div>
          </div>
        </section>
        <footer role="footer">
  <div class="pf-l-grid">
    <div class="pf-l-grid__item pf-m-3-col pf-m-2-col-on-sm pf-m-1-col-on-md">
      <img alt="Red Hat Logo" src="https://developers.redhat.com/themes/custom/rhdp/images/branding/RHLogo_white.svg" class="pf-u-p-sm">
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script>

      </main>
      


[


<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>


    </div>
  </body>
</html>
