




<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
Buttons and CTAs – RHD Front-end Code and Documentation
</title>
    <link rel="stylesheet" href="https://rhd-frontend-demo.netlify.com/css/rhd.css">
    <link rel="stylesheet" href="https://rhd-frontend-demo.netlify.com/css/rhd.legacy.css">
    <link rel="stylesheet" href="https://rhd-frontend-demo.netlify.com/css/prism-ghcolors.css">
    <script src="https://rhd-frontend-demo.netlify.com/js/base.js"></script>
    <script src="https://kit.fontawesome.com/3f83b4c6d2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.5/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/custom-elements-es5-adapter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/webcomponents-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://rhd-frontend-demo.netlify.com/@rhd/rhd.old.min.js"></script>
    <script src="https://rhd-frontend-demo.netlify.com/@rhd/rhd.microsites.min.js"></script>
    <script src="https://rhd-frontend-demo.netlify.com/@rhd/rhd.min.js"></script>

  </head>
  <body class="pf-m-redhat-font">
    <div class="pf-c-page" id="page-layout-grouped-nav">
      <header role="banner" class="pf-c-page__header" style="z-index: 100;">
  <div class="pf-c-page__header-brand">
    <a class="pf-c-page__header-brand-link" href="https://rhd-frontend-demo.netlify.com/">
      <img class="pf-c-brand" src="https://developers.redhat.com/sites/default/files/styles/teaser/public/externals/e684ea8849af25532d2f2c5ad1c6dab4.png" alt="PatternFly logo">
    </a>
  </div>
  <div class="pf-c-page__header-nav">
    <nav class="pf-c-nav pf-m-end" id="page-layout-horizontal-nav-horizontal-nav" aria-label="Global">
      <ul class="pf-c-nav__horizontal-list">
        
        <li class="pf-c-nav__item">
          <a href="https://rhd-frontend-demo.netlify.com/categories/" class="pf-c-nav__link">
            Categories
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="https://rhd-frontend-demo.netlify.com/components/" class="pf-c-nav__link">
            Components
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="https://rhd-frontend-demo.netlify.com/pages/" class="pf-c-nav__link">
            Pages
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="https://rhd-frontend-demo.netlify.com/patterns/" class="pf-c-nav__link">
            Patterns
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="https://rhd-frontend-demo.netlify.com/tags/" class="pf-c-nav__link">
            Tags
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="pf-c-page__header-tools">
    <div class="pf-c-page__header-tools-group pf-m-icons">
      <a href="https://github.com/redhat-developer/rhd-frontend" target="_blank" class="pf-c-button pf-m-plain" aria-label="Alerts">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</header>

      <main role="main" class="pf-c-page__main" tabindex="-1" id="main-content-page-layout">
        <section class="pf-c-page__main-section pf-m-light">
          <div class="layout-content">
            <div id="block-rhdp-content" class="block block-system">
              <article role="article" class="node">
                <div class="node__content">
                  

<section class="pf-c-page__main-breadcrumb">
  <nav class="pf-c-nav" aria-label="Local">
    <ul class="pf-c-nav__tertiary-list">
      
      <li class="pf-c-nav__item">
        <a href="https://rhd-frontend-demo.netlify.com/components/rich_text_columns/" class="pf-c-nav__link">
          <i class="fad fa-arrow-left"></i>
          Rich Text Columns
        </a>
      </li>
      
      <li class="pf-c-nav__item">
        <a href="https://rhd-frontend-demo.netlify.com/components/btn-cta/" class="pf-c-nav__link pf-m-current" aria-current="page">
          Buttons and CTAs
        </a>
      </li>
      
      <li class="pf-c-nav__item">
        <a href="https://rhd-frontend-demo.netlify.com/components/dynamic-list/" class="pf-c-nav__link">
          Deprecated Dynamic Content List
          <i class="fad fa-arrow-right"></i>
        </a>
      </li>
      
    </ul>
  </nav>
</section>
<section class="pf-c-page__main-section"><h2 class="pf-c-title">Button variations</h2>

<div class="pf-l-grid pf-m-gutter">
  <div class="pf-l-grid__item pf-m-10-col pf-m-offset-1-col-on-md pf-u-p-md" style="border: 1px dashed #ddd;">
    <button class="pf-c-button pf-m-heavy">Heavy</button>
    <button class="pf-c-button pf-m-primary">Primary</button>
    <button class="pf-c-button pf-m-secondary">Secondary (blue)</button>
    <button class="pf-c-button pf-m-secondary-alt">Secondary (red)</button>
    <button class="pf-c-button pf-m-tertiary">Secondary (black)</button>
    <button class="pf-c-button pf-m-link">
      Link button (blue)
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
    <button class="pf-c-button pf-m-link--secondary">
      Link button (black)
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
  </div>
</div>
<br/>
<h2 class="pf-c-title">Button variations - dark background - -on-dark variants of buttons</h2>

<div class="pf-l-grid pf-m-gutter">
  <div class="pf-l-grid__item pf-m-10-col pf-m-offset-1-col-on-md pf-u-p-md" style="background-color: #000;">
    <button class="pf-c-button pf-m-secondary-on-dark">Secondary blue (dark)</button>
    <button class="pf-c-button pf-m-secondary-alt-on-dark">Secondary red (dark)</button>
    <button class="pf-c-button pf-m-tertiary-on-dark">Secondary black (dark)</button>
    <button class="pf-c-button pf-m-link-on-dark">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
    <button class="pf-c-button pf-m-link--secondary-on-dark">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
  </div>
</div>
<br/>
<h2 class="pf-c-title">Button variations - dark background - dark class on container</h2>

<div class="pf-l-grid pf-m-gutter">
  <div class="pf-l-grid__item pf-m-10-col pf-m-offset-1-col-on-md pf-u-p-md dark" style="background-color: #000;">
    <button class="pf-c-button pf-m-secondary">Secondary blue (dark)</button>
    <button class="pf-c-button pf-m-secondary-alt">Secondary red (dark)</button>
    <button class="pf-c-button pf-m-tertiary">Secondary black (dark)</button>
    <button class="pf-c-button pf-m-link">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
    <button class="pf-c-button pf-m-link--secondary">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
  </div>
</div>
<br/>
<h2 class="pf-c-title">Legacy Button Styles for existing rich text content</h2>
<div class="pf-l-grid pf-m-gutter">
  <div class="pf-l-grid__item pf-m-10-col pf-m-offset-1-col-on-md pf-u-p-md" style="border: 1px dashed #ddd;">
    <a href="#" title="" class="button heavy-cta">Primary / Heavy CTA</a>
    <a href="#" title="" class="button heavy-cta blue">Primary / Heavy CTA Blue</a>
    <a href="#" title="" class="button medium-cta">Secondary / Medium CTA</a>
    <a href="#" title="" class="button medium-cta blue">Secondary / Medium CTA Blue</a>
    <a href="#" title="" class="button medium-cta red">Secondary / Medium CTA Red</a>
  </div>
</div>
<br/>
<h2 class="pf-c-title">Legacy Button Styles for existing rich text content on dark</h2>
<div class="pf-l-grid pf-m-gutter">
  <div class="pf-l-grid__item pf-m-10-col pf-m-offset-1-col-on-md pf-u-p-md dark" style="border: 1px dashed #ddd; background-color: #000;">
    <a href="#" title="" class="button heavy-cta">Primary / Heavy CTA</a>
    <a href="#" title="" class="button heavy-cta blue">Primary / Heavy CTA Blue</a>
    <a href="#" title="" class="button medium-cta">Secondary / Medium CTA</a>
    <a href="#" title="" class="button medium-cta blue">Secondary / Medium CTA Blue</a>
    <a href="#" title="" class="button medium-cta red">Secondary / Medium CTA Red</a>
  </div>
</div>
<br/>
<h2 class="pf-c-title">Button states</h2>

<div class="pf-l-grid pf-m-gutter">
  <div class="pf-l-grid__item pf-m-offset-1-col-on-md">
    <h3 class="pf-c-title">Heavy CTA button styles</h3>
    <button class="pf-c-button pf-m-heavy" type="button">Heavy CTA</button>
    <button class="pf-c-button pf-m-heavy pf-m-active" type="button">Heavy CTA active</button>
    <button class="pf-c-button pf-m-heavy pf-m-focus" type="button">Heavy CTA focus</button>
    <button class="pf-c-button pf-m-heavy pf-m-disabled" type="button">Heavy CTA disabled</button>
  </div>
  <div class="pf-l-grid__item pf-m-offset-1-col-on-md">
    <h3 class="pf-c-title">Primary button styles</h3>
    <button class="pf-c-button pf-m-primary" type="button">Primary</button>
    <button class="pf-c-button pf-m-primary pf-m-active" type="button">Primary active</button>
    <button class="pf-c-button pf-m-primary pf-m-focus" type="button">Primary focus</button>
    <button class="pf-c-button pf-m-primary pf-m-disabled" type="button">Primary disabled</button>
  </div>
  <div class="pf-l-grid__item pf-m-offset-1-col-on-md">
    <h3 class="pf-c-title">Secondary (blue outline) button styles</h3>
    <button class="pf-c-button pf-m-secondary" type="button">Secondary (blue outline)</button>
    <button class="pf-c-button pf-m-secondary pf-m-active" type="button">Secondary (blue outline) active</button>
    <button class="pf-c-button pf-m-secondary pf-m-focus" type="button">Secondary (blue outline) focus</button>
    <button class="pf-c-button pf-m-secondary pf-m-disabled" type="button">Secondary (blue outline) disabled</button>
  </div>
  <div class="pf-l-grid__item pf-m-offset-1-col-on-md">
    <h3 class="pf-c-title">Secondary (red outline) button styles</h3>
    <button class="pf-c-button pf-m-secondary-alt" type="button">Secondary (red outline)</button>
    <button class="pf-c-button pf-m-secondary-alt pf-m-active" type="button">Secondary (red outline) active</button>
    <button class="pf-c-button pf-m-secondary-alt pf-m-focus" type="button">Secondary (red outline) focus</button>
    <button class="pf-c-button pf-m-secondary-alt pf-m-disabled" type="button">Secondary (red outline) disabled</button>
  </div>
  <div class="pf-l-grid__item pf-m-offset-1-col-on-md">
    <h3 class="pf-c-title">Secondary (black outline) button styles</h3>
    <button class="pf-c-button pf-m-tertiary" type="button">Secondary (black outline)</button>
    <button class="pf-c-button pf-m-tertiary pf-m-active" type="button">Secondary (black outline) active</button>
    <button class="pf-c-button pf-m-tertiary pf-m-focus" type="button">Secondary (black outline) focus</button>
    <button class="pf-c-button pf-m-tertiary pf-m-disabled" type="button">Secondary (black outline) disabled</button>
  </div>
  <div class="pf-l-grid__item pf-m-offset-1-col-on-md">
    <h3 class="pf-c-title">Link button (default)</h3>
    <button class="pf-c-button pf-m-link" type="button">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
    <button class="pf-c-button pf-m-link pf-m-active" type="button">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
    <button class="pf-c-button pf-m-link pf-m-focus" type="button">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
    <button class="pf-c-button pf-m-link pf-m-disabled" type="button">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="pf-l-grid__item pf-m-offset-1-col-on-md">
    <h3 class="pf-c-title">Link button (black)</h3>
    <button class="pf-c-button pf-m-link--secondary">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
    <button class="pf-c-button pf-m-link--secondary pf-m-active">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
    <button class="pf-c-button pf-m-link--secondary pf-m-focus">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
    <button class="pf-c-button pf-m-link--secondary pf-m-disabled">
      Link button
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
  </div>
</div>
</section>




<section class="pf-c-page__main-section">
<div class="pf-l-grid pf-m-gutter">

    <div class="pf-l-grid__item pf-m-offset-1-col">
        <h2>Call to Action</h2>
    </div>
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title">No visual style set</h4>
            
            
                  <div class="cta assembly assembly-type-call_to_action component" style="background-image: url();">
    <div class="cta__container pf-l-grid">
      <h2 class="cta__title pf-c-title">Join us for our next live developer tech talk.</h2>

      <div class="cta__content">
        <p><strong>DevNation Live:</strong> Testing in Production. From DevTestOops to DevTestOps</p>

        <p>Presented by Alex Soto Bueno&nbsp;on September 19, 2019 at 12:00 PM ET / 16:00 UTC</p>
      </div>
    
      <div class="cta__cta">
        <a href="https://onlinexperiences.com/Launch/QReg/ShowUUID=6D298284-3770-4C13-914C-77D1033BD5AC" class="pf-c-button pf-m-heavy">Learn more</a>
      </div>
    </div>
  </div>

            
            
        
        </div>
        
    
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title">Aligned left</h4>
            
            
                  <div class="cta assembly assembly-type-call_to_action left component" style="background-image: url();">
    <div class="cta__container pf-l-grid">
      <h2 class="cta__title pf-c-title">Join us for our next live developer tech talk.</h2>

      <div class="cta__content">
        <p><strong>DevNation Live:</strong> Testing in Production. From DevTestOops to DevTestOps</p>

        <p>Presented by Alex Soto Bueno&nbsp;on September 19, 2019 at 12:00 PM ET / 16:00 UTC</p>
      </div>
    
      <div class="cta__cta">
        <a href="https://onlinexperiences.com/Launch/QReg/ShowUUID=6D298284-3770-4C13-914C-77D1033BD5AC" class="pf-c-button pf-m-heavy">Learn more</a>
      </div>
    </div>
  </div>

            
            
        
        </div>
        
    
    
    
        
        <div class="pf-l-grid__item pf-m-offset-1-col">
        
            <h4 class="pf-c-title">Dark background, light text</h4>
            
            
                  <div class="cta assembly assembly-type-call_to_action dark component" style="background-image: url();">
    <div class="cta__container pf-l-grid">
      <h2 class="cta__title pf-c-title">Join us for our next live developer tech talk.</h2>

      <div class="cta__content">
        <p><strong>DevNation Live:</strong> Testing in Production. From DevTestOops to DevTestOps</p>

        <p>Presented by Alex Soto Bueno&nbsp;on September 19, 2019 at 12:00 PM ET / 16:00 UTC</p>
      </div>
    
      <div class="cta__cta">
        <a href="https://onlinexperiences.com/Launch/QReg/ShowUUID=6D298284-3770-4C13-914C-77D1033BD5AC" class="pf-c-button pf-m-heavy">Learn more</a>
      </div>
    </div>
  </div>

            
            
        
        </div>
        
    
    

</div>
</section>




                </div>
              </article>
            </div>
          </div>
        </section>
        <footer role="footer">
  <div class="pf-l-grid">
    <div class="pf-l-grid__item pf-m-3-col pf-m-2-col-on-sm pf-m-1-col-on-md">
      <img alt="Red Hat Logo" src="https://developers.redhat.com/themes/custom/rhdp/images/branding/RHLogo_white.svg" class="pf-u-p-sm">
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script>

      </main>
      



    </div>
  </body>
</html>
