




<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
Onebox – RHD Front-end Code and Documentation
</title>
    <link rel="stylesheet" href="/css/rhd.css">
    <link rel="stylesheet" href="/css/rhd.legacy.css">
    <link rel="stylesheet" href="/css/prism-ghcolors.css">

    <script src="/js/base.js"></script>
    <script src="https://kit.fontawesome.com/3f83b4c6d2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.5/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/custom-elements-es5-adapter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/webcomponents-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>

    <script src="/@rhd/rhd.old.min.js"></script>
    <script src="/@rhd/rhd.microsites.min.js"></script>
    <script src="/@rhd/rhd.min.js"></script>

  </head>
  <body class="pf-m-redhat-font">
    <div class="pf-c-page" id="page-layout-grouped-nav">
      <header role="banner" class="pf-c-page__header" style="z-index: 100;">
  <div class="pf-c-page__header-brand">
    <a class="pf-c-page__header-brand-link" href="/">
      <img class="pf-c-brand" src="https://developers.redhat.com/sites/default/files/styles/teaser/public/externals/e684ea8849af25532d2f2c5ad1c6dab4.png" alt="PatternFly logo">
    </a>
  </div>
  <div class="pf-c-page__header-nav">
    <nav class="pf-c-nav pf-m-end" id="page-layout-horizontal-nav-horizontal-nav" aria-label="Global">
      <ul class="pf-c-nav__horizontal-list">
        
        <li class="pf-c-nav__item">
          <a href="/categories/" class="pf-c-nav__link">
            Categories
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="/components/" class="pf-c-nav__link">
            Components
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="/pages/" class="pf-c-nav__link">
            Pages
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="/patterns/" class="pf-c-nav__link">
            Patterns
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="/tags/" class="pf-c-nav__link">
            Tags
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="pf-c-page__header-tools">
    <div class="pf-c-page__header-tools-group pf-m-icons">
      <a href="https://github.com/redhat-developer/rhd-frontend" target="_blank" class="pf-c-button pf-m-plain" aria-label="Alerts">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</header>

      <main role="main" class="pf-c-page__main" tabindex="-1" id="main-content-page-layout">
        <section class="pf-c-page__main-section pf-m-light">
          <div class="layout-content">
            <div id="block-rhdp-content" class="block block-system">
              <article role="article" class="node">
                <div class="node__content">
                  

<section class="pf-c-page__main-breadcrumb">
  <nav class="pf-c-nav" aria-label="Local">
    <ul class="pf-c-nav__tertiary-list">
      
      <li class="pf-c-nav__item">
        <a href="/components/search-old/" class="pf-c-nav__link">
          <i class="fad fa-arrow-left"></i>
          &#39;Old&#39; Search
        </a>
      </li>
      
      <li class="pf-c-nav__item">
        <a href="/components/onebox/" class="pf-c-nav__link pf-m-current" aria-current="page">
          Onebox
        </a>
      </li>
      
      <li class="pf-c-nav__item">
        <a href="/components/expandable-groups/" class="pf-c-nav__link">
          Expandable Groups
          <i class="fad fa-arrow-right"></i>
        </a>
      </li>
      
    </ul>
  </nav>
</section>
<section class="pf-c-page__main-section"><div class="pf-l-grid">
  <pre class="pf-m-10-col pf-m-offset-1-col" style="max-height: 10em;">
    <code class="language-html">&lt;dp-search-onebox url=&#34;../../json/onebox.json&#34; term=&#34;fuse&#34;&gt;&lt;/dp-search-onebox&gt;</code>
  </pre>
</div>
<div class="code-sample">
  <dp-search-onebox url="../../json/onebox.json" term="fuse"></dp-search-onebox>
</div>

</section>


                </div>
              </article>
            </div>
          </div>
        </section>
        <footer role="footer">
  <div class="pf-l-grid">
    <div class="pf-l-grid__item pf-m-3-col pf-m-2-col-on-sm pf-m-1-col-on-md">
      <img alt="Red Hat Logo" src="https://developers.redhat.com/themes/custom/rhdp/images/branding/RHLogo_white.svg" class="pf-u-p-sm">
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script>

      </main>
      


[
  <script src="/@patternfly/pfelement/pfelement.umd.js"></script>

  <script src="/@rhd/dp-search/dp-search-onebox.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>


    </div>
  </body>
</html>
